body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(135deg, #f87132 0%, #fcef3a 100%);
    margin: 0;
    padding: 0;

}

h2{
    text-align: center;
}

nav{
    display: flex;
    justify-content: start;
    align-items: end;
    border-bottom: 2px solid black;
    background: white;
    padding: 10px 20px;
}

a{
    text-decoration: none;
}

#logo{
   width: 80px;
   
}

ul{
    display: flex;
    justify-content: end;
    gap: 40px;
    list-style: none;
}
.menu{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    box-shadow: 0 10px 20px rgba(rgb(241, 96, 96), rgb(105, 212, 105), rgb(23, 23, 247), alpha)
}

.menu-item{
    background: rgb(253, 253, 253);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 100%;
    
}

.menu-item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

a:hover {
    color: #f847af;
    text-decoration: underline;
    transition: 0.3s;
}

.menu-item:hover{
    color: rgb(245, 24, 8);
    
}

.menu-item img:hover{
    height: 210px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: end;
    background: rgba(2, 0, 0, 0.849);
    color: whitesmoke;
}