body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background: linear-gradient(135deg,  #db2d16 0%, #f8ea22 100%);
    margin: 0;
    padding: 0;

}

nav{
    display: flex;
    padding: 10px 20px;
    background: white;
    border-bottom: 2px solid black;

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #f847af;
    text-decoration: underline;
    transition: 0.3s;
}

#logo{
    width: 80px;
    border-radius: 50%;
    
}

ul{
    display: flex;
    align-items: end;
    list-style: none;
    gap: 40px;
}


div#abc{
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 8px;
    width: 40%;
    padding: 20px;
    margin: 50px auto;
    text-align: center;
    
}

div{
    padding: 10px;
}

input{
    width: 50%;
    padding: 10px;
    margin-right: 5px 0 15px 0;
    border-radius: 5px;
    border: 2px solid #9b2587;
    box-sizing: border-box;
}

input:hover{
    background-color: #ccccccf5;
    transition: 0.3s;
}

button{
    padding: 10px;
    width: 50%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button:hover{
    color: beige;
    background-color: chocolate;
    transition: color 0.3s, background-color 1s;
}
footer {
    display: flex;
    justify-content: center;
    align-items: end;
    background: rgba(2, 0, 0, 0.849);
    color: whitesmoke;
}
