body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(135deg,  #db2d16 0%, #f8ea22 100%);
    margin: 0;
    padding: 0;

}

nav{
    display: flex;
    padding: 10px 20px;
    background: white;
    border-bottom: 2px solid black;

}

ul{
    display: flex;
    align-items: end;
    list-style: none;
    gap: 40px;
}

.founder{
    text-align: center;
}

#logo{
    width: 80px;
    border-radius: 50%;
    
}

img{
    width: 400px;
    border-radius: 20px;
    border: 2px solid black;

}

#me{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #0a0200f5;
    box-shadow: 4px 4px 1px rgba(0,0,0,0.3);
}

#aarav{
    text-align: center;
    margin-bottom: 40px;
}

.sec1{
    border-bottom: 2px solid black;
    padding: 0 10px;
}

.pic1-container{
    display: flex;
    justify-content: center;
}

h2{
    padding: 0 30px;
}

.pic2-container{
      padding: 0 10px;
}

.sec2{
    padding: 0 10px 20px 10px;
}

a{
    text-decoration: none;
    
}

a:hover{
    color: #f847af;
    text-decoration: underline;
    transition: 0.3s;
}

p{
    font-size: 1.2em;
    letter-spacing: 1px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: end;
    background: rgba(2, 0, 0, 0.849);
    color: whitesmoke;
}