body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(135deg,  #db2d16 0%, #f8ea22 100%);
    margin: 0;
    padding: 0;
    
}

h1, p {
    text-align: center;
}

a:hover {
    color: #f847af;
    text-decoration: underline;
    transition: 0.3s;
}


#image {
    
    margin: 0 auto;
    width: 350px;
    border-radius: 20px;
    border: 2px solid rgb(243, 44, 54);
    box-shadow: 0 4px 20px rgba(0,0,0,0.3)
}

#image:hover{
    width: 360px;
    box-shadow: 0 4px 10px #c51ea9;
    transition: 0.3s;
    
}

.image-container{
    display: flex;
    justify-content: center;
}

#logo {
    width: 80px;
    border-radius: 50%;

}

ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: flex-end;
    list-style: none;

}



a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: start;
    background: white;
    padding: 10px 20px;
    border-bottom: 2px solid black;
}

img {
    border-radius: 50%;
}


footer {
    display: flex;
    justify-content: center;
    align-items: end;
    background: rgba(2, 0, 0, 0.849);
    color: whitesmoke;
}

p {
    font-size: 1.1em;
    letter-spacing: 1px;
}

.title {
    display: flex;
    justify-content: center;
}